body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: start;
}

.start-button {
    background-color: peru;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 18px;
}

.quiz-time {
    display: none;
    flex-direction: inherit;
    justify-content: flex-start;
    text-align: start;
}

.quiz-button {
    background-color: peru;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 2px;
    max-width: fit-content;
    
}

